body {
    background-image: url("../img/night_lake.jpeg");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;
}

#todoHeader {
    font-family: Gadugi;
    color: whitesmoke;
    text-align: center;
    font-size: 60px;
}

#splitPage {
    width: 100%;
}

th {
    font-family: Gadugi;
    color: whitesmoke;
    text-align: center;
}

#todoInput {
    margin: auto;
    width: 350px;
    height: 170px;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    border-style: outset;
    display: block;
    alignment: center;
    resize: none;
}

#buttonSave {
    background-color: grey;
    border-color: darkgrey;
    border-radius: 5px;
    padding: 10px;
}